<ion-view view-title="Update Offer">
  <ion-content>
	<script id="searchFromModal.html" type="text/ng-template">
		<ion-modal-view>
			<ion-header-bar>
				<h1 class="title">Starting point</h1>
				<div class="buttons">
					<button class="button button-clear" ng-click="closeSearchFromModal()">Close</button>
				</div>
			</ion-header-bar>
			<ion-content>
				<ion-google-place placeholder="From" ng-model="data.locationFrom" required name="locationFrom" location-changed="fromLocationChanged"></ion-google-place>
			</ion-content>
		</ion-modal-view>
	</script>	
	
	
	<script id="searchToModal.html" type="text/ng-template">
		<ion-modal-view>
			<ion-header-bar>
				<h1 class="title">Destination</h1>
				<div class="buttons">
					<button class="button button-clear" ng-click="closeSearchToModal()">Close</button>
				</div>
			</ion-header-bar>
			<ion-content>
				<ion-google-place placeholder="To" ng-model="data.locationTo" required name="locationTo" location-changed="toLocationChanged"></ion-google-place>
			</ion-content>
		</ion-modal-view>
	</script>

	<div class="list">
		<label class="item item-input">
			<i class="icon ion-android-pin placeholder-icon"></i>
			<input type="text" placeholder="From" ng-model="data.locationFrom" ng-click="openSearchFromModal()">
		</label>
		<label class="item item-input">
			<i class="icon ion-android-pin placeholder-icon"></i>
			<input type="text" placeholder="To" ng-model="data.locationTo" ng-click="openSearchToModal()">
		</label>		  
		<label class="item item-input">
			<i class="icon ion-calendar placeholder-icon"></i>
			<input type="date" placeholder="Date" ng-model="data.date">
		</label>
		<label class="item item-input">
			<i class="icon ion-calendar placeholder-icon"></i>
			<input type="time" placeholder="Time" ng-model="data.time">
		</label>		
		<label class="item item-input">
			<i class="icon ion-person-stalker placeholder-icon"></i>
			<input type="text" placeholder="Available Seats" ng-model="data.seatsAvailable">
		</label>		
		<label class="item item-input">
			<i class="icon ion-person-stalker placeholder-icon"></i>
			<input type="text" placeholder="Description" ng-model="data.carDesc">
		</label>	
		<label class="item item-input">
			<i class="icon ion-android-car placeholder-icon"></i>
			<div class="row">
				<div class="col">
				{{data.car}}
				</div>
				<div class="col">
				{{data.carPlateNumber}}
				</div>
				<div class="col">
				{{data.carColor}}
				</div>
			</div>
		</label>
	</div>	
	<div class="button-bar">
		<a class="button" ng-click="updateTrip(data)">Update</a>
		<a class="button">Delete</a>
	</div>    
  </ion-content>
</ion-view>
