<ion-view title="Search a Ride">
	<ion-header-bar>
		<h1 class="title">Search a Ride</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeSearchRideModal()">Close</button>
		</div>
	</ion-header-bar>
  
	<ion-content>
	
	<script id="searchFromModal.html" type="text/ng-template">
		<ion-modal-view>
			<ion-header-bar>
				<h1 class="title">Find your starting point</h1>
				<div class="buttons">
					<button class="button button-clear" ng-click="closeSearchFromModal()">Close</button>
				</div>
			</ion-header-bar>
			<ion-content>
				<ion-google-place placeholder="From" ng-model="searchCriteria.locationFrom" required name="addressFrom" location-changed="fromLocationChanged"/>
			</ion-content>
		</ion-modal-view>
	</script>	
	
	
	<script id="searchToModal.html" type="text/ng-template">
		<ion-modal-view>
			<ion-header-bar>
				<h1 class="title">Find your destination</h1>
				<div class="buttons">
					<button class="button button-clear" ng-click="closeSearchToModal()">Close</button>
				</div>
			</ion-header-bar>
			<ion-content>
				<ion-google-place placeholder="To" ng-model="searchCriteria.locationTo" required name="addressTo" location-changed="toLocationChanged"/>
			</ion-content>
		</ion-modal-view>
	</script>
	
		<div class="list list">
		  <label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="From" ng-model="searchCriteria.locationFrom" ng-click="openSearchFromModal()"> 
		  </label>
		  <label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="To" ng-model="searchCriteria.locationTo" ng-click="openSearchToModal()">
		  </label>		  
		</div>
		
		<!--
		<ion-google-place placeholder="From" ng-model="searchCriteria.locationFrom" required name="addressFrom" location-changed="fromLocationChanged"></ion-google-place>
		
		<ion-google-place placeholder="To" ng-model="searchCriteria.locationTo" required name="addressTo" location-changed="toLocationChanged"></ion-google-place>
		-->
		
	</ion-content>
</ion-view>
